
*.sql
NationalFootballChampionshipManagement/NationalFootballChampionshipManagement/obj/Debug/NationalFootballChampionshipManagement.csproj.FileListAbsolute.txt
NationalFootballChampionshipManagement/NationalFootballChampionshipManagement/obj/Debug/NationalFootballChampionshipManagement.csproj.CoreCompileInputs.cache
NationalFootballChampionshipManagement/NationalFootballChampionshipManagement/NationalFootballChampionshipManagement.csproj
NationalFootballChampionshipManagement/NationalFootballChampionshipManagement/FORM/Tools/Scores/formScoresTools.Designer.cs
NationalFootballChampionshipManagement/NationalFootballChampionshipManagement/FORM/Tools/Ranking/formRankingTools.Designer.cs
*.cs
